[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chinese-whispers = {editable = true, path = "."}

[dev-packages]
chinese-whispers = {editable = true, path = ".", extras = ["dev", "docs"]}

[requires]
python_version = "3"
